.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App .nav {
  position: relative;
  background:#363c3d;
  padding: 20px 0;
}

h1{
  text-align: left;
  padding-left:15px
}

h1 a{
  color:#fff;
  font-size:24px;
  font-weight:normal;
  text-decoration: none;
}

.btn-menu{
  position: absolute;
  right:15px;
  top:30px
}

.list{
  margin-top:15px;
  text-align: left;
  padding:0 15px;
  box-sizing: border-box;
}

.list.first{
  margin-top:30px
}

.list strong{
  font-size:18px;
  color:#222
}

.list p{
  color:#777;
  margin-top:8px
}

.modal{
  padding:30px;
  background:#eee;
}

.menu{
  position: absolute;
  background:#eee;
  width:100%;
  padding: 70px 0;
  box-sizing: border-box;
}

.menu ul li a{
  font-size:28px
}
.menu ul li + li{
  margin-top:30px
}

.menu-close{
  position: absolute;
  top:20px;
  right:20px;
  background-color: #fff;
  border:none;
  width:30px;
  height:30px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
